.nav-menu {
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-item {
  cursor: pointer;
  margin: 10px;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 10rem;
}
